<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAwVMl9iWLmGsJp3UjAiTkVHEM8LU8pJik</string>
	<key>GCM_SENDER_ID</key>
	<string>806952824955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wellnessz.wellnesszApp</string>
	<key>PROJECT_ID</key>
	<string>wellnessz-app</string>
	<key>STORAGE_BUCKET</key>
	<string>wellnessz-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:806952824955:ios:bea55f72e946320c66f2de</string>
</dict>
</plist>